@model List<Category>


<div class="container">
    <div class="row pt-4 pb-23">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" asp-controller="Category" class="btn btn-primary" >
                <i class="bi bi-plus-square"></i> Create new category
            </a>
        </div>
    </div>

<table class="table table-bordered table-striped" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Order</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td>
                    <div class="btn-group w-75" role="group">
                        <a asp-action="Edit" asp-controller="Category" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>Edit
                        </a>
                            <a asp-action="Delete" asp-controller="Category" asp-route-id="@obj.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i>Delete
                            </a>
                    </div>
                </td>
            </tr>
        }
      
    </tbody>
</table>
</div>